server/emergency_subset/
MP_Data/
venv/
*.mp4


node_modules/
# Ignore virtual environment
asl_env/

# Python cache
__pycache__/
*.pyc

# Large models (optional)


# OS files
.DS_Store
server/asl_env/
server/venv/
node_modules/
__pycache__/
*.pyc
server/datasets
server/asl_env311
server/asl_env311/
server/asl_env/
venv/


server/datasets/

