.home-container {
  text-align: center;
  padding: 40px;
}

.home-buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.home-buttons button {
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
}
